body {
    background-image: url(https://i.ibb.co/PFk1cSv/jerome-4-NACu8-Tx-Qz-Q-unsplash.jpg);
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

#logo {
    font-family: 'Acme', sans-serif;
    text-align: center;
    font-size: 8 em;
    color: white;
}

h1 {
    font-size: 8em;
}

#qm-logo {
    position: relative;
    -webkit-animation-name: mymove; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 5s; /* Safari 4.0 - 8.0 */
    animation-name: mymove 5s;
    animation-duration: 5s;
  }

  /* Safari 4.0 - 8.0 */
  @-webkit-keyframes mymove {
    from {top: -50px;}
    to {top: 50px;}
  }
  
  /* Standard syntax */
  @keyframes mymove {
    from {top: -50px;}
    to {top: 50px;}
  }

#login-form {
    text-align: center;
}

input[type=text], select {
    width: 40%;
    font-family: 'Acme', sans-serif;
    font-size: 2em;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 40%;
    font-family: 'Acme', sans-serif;
    font-size: 2em;
    background-color:red;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  h2 {
    font-family: 'Acme', sans-serif;
    text-align: center;
    color: red;
    font-size: 4em;
  }

  .box {
      text-align: center;
      width: 1200px;
      height: 800px;
      background-color: lightgrey;
      border-radius: 10px;
      box-shadow: 10px 10px;
      margin: auto;
  }

  .create {
    font-family: 'Acme', sans-serif;
    text-align: center;
    color: black;
    font-size: 2em;
    width: 50%;
    padding: 12px 20px;
    /*margin: 8px 0;*/
    margin: auto;
    display: inline-block;
    /*border: 1px solid #ccc;*/
    box-sizing: border-box;
  }
  .inner-box {
      text-align: center;
      width: 900px;
      height: 100px;
      background-color: white;
      border-radius: 10px;
      box-shadow: 10px 10px;
      margin: auto;
  }

  #flex-container {
      display: flex;
      margin: 20px 150px 20px 150px;
      background-color: white;
      border-radius: 10px;
      box-shadow: 10px 10px;
    }

  #flex-container > div {
    background-color: rgb(120, 150, 220);
    font-family: 'Acme', sans-serif;
    color: rgb(17, 48, 48);
    margin: auto;
    padding: 150px;
    font-size: 2em;
    border-radius: 10px;
  }

  .logout {
    font-family: 'Acme', sans-serif;
    text-align: center;
    color: black;
    font-size: 2em;
    width: 50%;
    padding: 12px 20px;
    /*margin: 8px 0;*/
    margin: auto;
    display: inline-block;
    /*border: 1px solid #ccc;*/
    border-radius: 10px;
    box-sizing: border-box;
  }
  .bottom-box {
      text-align: center;
      width: 900px;
      height: 100px;
      background-color: white;
      border-radius: 10px;
      box-shadow: 10px 10px;
      margin: auto;
  }

  #quiz-div {
      text-align: center;
      background-color: lightgray;
      width: 900px;
      height: 600px;
      margin: auto;
      border-radius: 10px;
      box-shadow: 10px 10px;
  }

  .question-content {
    text-align: center;
    background-color: white;
    width: 680px;
    height: 200px;
    margin: auto;
    font-family: 'Acme', sans-serif;
    color: red;
    font-size: 2em;
    padding: 20px;
    border-radius: 10px;
  }

  .answer-button {
    width: 40%;
    font-family: 'Acme', sans-serif;
    font-size: 2em;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    /*border: 1px solid #ccc;*/
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 5px 5px;
  }

  .text {
    font-size: 2em;
    color: rgb(73, 71, 71);
}

.span-text {
  font-size: 1em;
  color: rgb(73, 71, 71);
}

#scr-btn {
    text-align: center;
    margin: auto;
    background-color: red;
    font-family: 'Acme', sans-serif;
    font-size: 2em;
    width: 40%;
    height: 40%;
    padding: 12px 20px;
    /*margin: 8px 0;*/
    display: inline-block;
    /*border: 1px solid #ccc;*/
    border-radius: 10px;
    box-shadow: 5px 5px;
    box-sizing: border-box;
}

#sub-container {
    text-align: center;
    margin: auto;
}

.span-text-2 {
    font-size: 1em;
    color: white;
    font-weight: strong;
  }

/* #scr-btn-box {
    text-align: center;
    width: 900px;
    height: 100px;
    background-color: red;
    border-radius: 4px;
    margin: auto;
} */

  /*
  #main-options {
    text-align: center;
    border: grey solid 1px;
    padding: 1rem;
    width: 15rem;
    height: 25rem;
    display: inline-grid;
    margin: 1rem 2rem;
    box-shadow: 3px 4px #e04b52
  }
  
#quizzes {
    text-align: center;
}

#quizzes-ul {
    width: 300px;
    background-color:#D3D3D3;
    display: inline-block;
    border: 15px solid red;
    padding: 50px;
    margin: 20px;
}



/* Background pic
<a href="https://ibb.co/bQtNsfM"><img src="https://i.ibb.co/PFk1cSv/jerome-4-NACu8-Tx-Qz-Q-unsplash.jpg" alt="jerome-4-NACu8-Tx-Qz-Q-unsplash" border="0"></a><br /><a target='_blank' href='https://movieplotholes.com/star-wars-a-new-hope-plot-holes'>star wars a new hope mistakes</a><br />
*/







body, html {
    width: 100vw;
    height: 100vh;
}

body {
    background-image: url(https://i.ibb.co/PFk1cSv/jerome-4-NACu8-Tx-Qz-Q-unsplash.jpg);
    background-size: cover;
    margin: 0;
    padding: 0;
}

.bubbles {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: -1;
}

.bubble {
    position: absolute;
    top: 0;
    font-size: 8em;
    opacity: 0.5;
    animation: flying 10s infinite linear;
}

.bubble:nth-child(1) {
    position: absolute;
    left: 10%;
    font-size: 8em;
    opacity: 0.5;
    animation-duration: 15s;
}

.bubble:nth-child(2) {
    position: absolute;
    left: 5%;
    font-size: 10em;
    opacity: 0.5;
    animation-duration: 11s;
    animation-delay: 1s;
}

.bubble:nth-child(3) {
    position: absolute;
    left: 60%;
    font-size: 7em;
    opacity: 0.5;
    animation-duration: 10s;
}

.bubble:nth-child(4) {
    position: absolute;
    left: 30%;
    font-size: 9em;
    opacity: 0.5;
    animation-duration: 12s;
    animation-delay: .5s;
}

.bubble:nth-child(5) {
    position: absolute;
    left: 70%;
    font-size: 8em;
    opacity: 0.5;
    animation-duration: 9s;
}

.bubble:nth-child(6) {
    position: absolute;
    left: 40%;
    font-size: 7em;
    opacity: 0.5;
    animation-duration: 14s;
    animation-delay: 0.5s;
}

.bubble:nth-child(7) {
    position: absolute;
    left: 80%;
    font-size: 9em;
    opacity: 0.5;
    animation-duration: 11s;
}

.bubble:nth-child(8) {
    position: absolute;
    left: 95%;
    font-size: 10em;
    opacity: 0.5;
    animation-duration: 10s;
}

.bubble:nth-child(9) {
    position: absolute;
    left: 90%;
    font-size: 8em;
    opacity: 0.5;
    animation-duration: 9s;
    animation-delay: 0.5s;
}

.bubble:nth-child(10) {
    position: absolute;
    left: 35%;
    font-size: 9em;
    opacity: 0.5;
    animation-duration: 12s;
}


@keyframes flying {
    0% {
        top: -100px;
        transform: translateY(0);
    }

    50% {
        top: 500px;
        transform: translateY(100px);
    }

    100% {
        top: 1080px;
        transform: translateY(-200px);
    }
}

#q1 {
    color: red;
    font-weight: strong;
}

#q2 {
    color: blue;
    font-weight: strong;
} 

#q3 {
    color: purple;
    font-weight: strong;
}

#q4 {
    color: blueviolet;
    font-weight: strong;
}

#q5 {
    color: white;
    font-weight: strong;
}

#q6 {
    color: blue;
    font-weight: strong;
}

#q7 {
    color: blue;
    font-weight: strong;
} 

#q8 {
    color: purple;
    font-weight: strong;
} 

#q9 {
    color: red;
    font-weight: strong;
}

#q10 {
    color: white;
    font-weight: strong;
} 
